<div>


  <div class="jumbotron" style="background: darkslateblue !important; padding: 5rem 2rem;">
    <h1 style="text-align: center;color: white;">What would you like to do?</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron" style="background-color: seagreen;padding: 4rem 1rem;">
        <div class="container">
          <h4 style="color: white;">Configure Known Individuals</h4>
          <p class="lead" style="color: beige;">Configure Person Groups, Persons and Faces.</p>
          <a class="btn btn-warning" [routerLink]="['/configuration']">Configuration</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="jumbotron" style="background-color: seagreen;padding: 4rem 1rem;">
        <div class="container">
          <h4 style="color: white;">Test Faces</h4>
          <p class="lead" style="color: beige;">Test faces for detection and identification.</p>
          <a class="btn btn-warning"  [routerLink]="['/test-faces']">Test Faces</a>
        </div>
      </div>
    </div>
  </div>