<div *ngIf="isCameraExist; else noCameraExist">
  <div class="btn-group" style="margin-bottom: 5px;">
    <button type="button" class="btn btn-success" style="border-radius: 0.25rem;" (click)="onOffWebCame()">Switch camera</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success" style="border-radius: 0.25rem;" (click)="takeSnapshot()">Take Picture</button>
  </div> <br />
  <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
    *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>

  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error | json }}</li>
    </ul>
  </div>
</div>

<ng-template #noCameraExist>
  Camera device not available
</ng-template>