<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="background-color:darkblue !important;">
    <div class="container">

        <a class="navbar-brand" [routerLink]="['/']">FRS</a>

    </div>
</div>



<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" style="width: 30%;" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" formControlName="contact" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" style="width: 30%;" />
        <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
            <div *ngIf="f.contact.errors.required">Contact is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="dpText">Capture Base Image</label>
        <!-- <input type="text" formControlName="baseURLText" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.baseURLText.errors }" style="width: 30%;" />
        <div *ngIf="submitted && f.baseURLText.errors" class="invalid-feedback">
            <div *ngIf="f.baseURLText.errors.required">Base URL is required</div>
        </div> -->
        <app-camera (getPicture)="handleImage($event)"></app-camera>
        <div class="webcam-image" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl" style="height: 200px; width: auto;" />
        </div>       
    </div>
    
    <div class="form-group">
        <label>
            <input  type="checkbox" [value]="isMFAEnabled"  (change)="updateMFA()">
            Enable MFA
        </label>
    </div>

    <div class="form-group" *ngIf="isMFAEnabled">
        <label for="dpText">Capture Voice</label>        
        <app-audio (getAudio)="handleAudio($event)"></app-audio>           
    </div>


    <div class="form-group">
        <label for="gender">Gender:</label>
        <div>
            <input id="male" type="radio" value="male" name="gender" formControlName="gender">
            <label for="male">Male</label>
        </div>

        <div>
            <input id="female" type="radio" value="female" name="gender" formControlName="gender">
            <label for="female">Female</label>
        </div>

        <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
            <div *ngIf="f.gender.errors.required">Gender is required.</div>
        </div>
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" style="width: 30%;" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>