.add-cart {
    font-size: 15px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    background: #04AA6D;
    color: white;
    border-radius: 5px;
}