<div class="card">
  <img src={{product.imageUrl}} class="card-img-top" alt="product image" style="height: 65%;width: 65%;" />
  <div class="card-body">
    <h5 class="card-title">{{product.name}} {{product.category}} </h5>
    <p class="card-text">
      <b>price:</b> {{product.amount}} <b>size: </b>{{product.size}}
    </p>
    <div style="text-align: center;">
      <span class="add-cart" (click)="AddProduct(product)">Add to Cart</span>
      <i class="bi bi-cart-plus" (click)="AddProduct(product)" title="Add Item"
        style="color: green;font-size: 30px;cursor: pointer  !important;"></i>
    </div>
  </div>
</div>